<div class="footer_bg"></div>

<footer>
	<div class="footer_cts">
			<div class="company">
					<div class="foot_logo"><img src="img/logo.png" alt="Sky Solar Japan"></div>
					<p class="address">〒105-7108 <br class="sp">東京都港区東新橋1-5-2 汐留シティセンター 8F</p>
					<div class="tel"><img src="img/foot_tel.png" alt="03-5275-3470"></div>
					<div class="mail"><img src="img/foot_mail.png" alt="info@skysolar.co.jp"></div>
			</div><!--company-->

			<div class="links">
							<p class="link">
									<a href="message/">MESSAGE</a>
									<a href="business/">BUSINESS</a>
									<a href="project/">PROJECT</a>
									<a href="esg/">ESG</a>
									<span>VISION</span>
									<a href="news/">NEWS</a>
									<a href="about/">ABOUT US</a>
									<!--<a href="recruit/">RECRUIT</a>-->
									<a href="#top">HOME</a>
							</p><!--link-->

							<p class="ir"><a href="http://ir.skysolarholdings.com/" target="_blank">IR情報</a></p>

							<p class="copyright">Copyright&copy;<script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script>. Sky Solar Japan. <br class="sp">All Rights Reserved.</p>
			</div><!--links-->
	</div><!--footer_cts-->
</footer>
