<!--HEADER-->
<header>
	<div class="header_area">

			<!--LOGO-->
			<div class="logo"><img src="img/logo.png" alt="SKY SOLAR JAPAN"></div>

			<!--GROBAL-->
			<div id="grobal">
					<div class="nav_btn"><span></span><span></span><span></span></div><!--nav_btn-->
					<div class="nav_close"></div>
					<div class="grobal_nav">
							<nav><a href="message/">MESSAGE</a></nav>
							<nav><a href="business/">BUSINESS</a></nav>
							<nav><a href="project/">PROJECT</a></nav>
							<nav><a href="esg/">ESG</a></nav>
							<nav><span>VISION</span></nav>
							<nav><a href="news/">NEWS</a></nav>
							<nav><a href="about/">ABOUT US</a></nav>
							<!--<nav><a href="recruit/">RECRUIT</a></nav>-->
					</div><!--grobal_nav-->
			</div><!--grobal-->

	</div><!--header_area-->
</header>

