<head>
	<!-- 開発中は、検索できないように -->
	<meta name="robots" content="noindex">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

	<link rel="stylesheet" type="text/css" media="all" href="css/config.css"/><link rel="stylesheet" type="text/css" media="all" href="css/pc.css"/><link rel="stylesheet" type="text/css" media="all" href="css/tb.css"/><link rel="stylesheet" type="text/css" media="all" href="css/sp.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="css/swiper.css"/>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="/img/favicon.ico"/><link rel="apple-touch-icon-precomposed" href="https://www.skysolarjapan.co.jp/img/apple_touch_icon.png"/>

	<meta property="og:url" content="https://www.skysolarjapan.co.jp/"/>
	<meta property="og:title" content="スカイソーラージャパン -Sky Solar Japan-"/>
	<meta property="og:type" content="website">
	<meta property="og:description" content="スカイソーラージャパン株式会社は再生エネルギー事業を通じて脱炭素社会の実現、地域の活性化に貢献し続けます。"/>
	<meta property="og:image" content="https://www.skysolarjapan.co.jp/ogp.jpg"/>
	<meta property="og:site_name" content="スカイソーラージャパン -Sky Solar Japan-"/>
	<meta property="og:locale" content="ja_JP"/>

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
