{{ if gt .Paginator.TotalPages 1 }}

<div class="pagenation">
    {{ if .Paginator.HasPrev }}
        <p><a href="{{ .Paginator.Prev.URL }}">BACK</a></p>
    {{ else }}
        <p class="none">BACK</p>
    {{ end }}

    {{ if ne .Paginator.PageNumber 1 }}
    <p><a href="{{ .Paginator.Prev.URL }}">{{ .Paginator.Prev.PageNumber }}</a></p>
    {{ end }}
    <p>{{ .Paginator.PageNumber }}</p>
    {{ if ne .Paginator.PageNumber .Paginator.TotalPages }}
    <p><a href="{{ .Paginator.Next.URL }}">{{ .Paginator.Next.PageNumber }}</a></p>
    {{ end }}

    {{ if .Paginator.HasNext }}
        <p><a href="{{ .Paginator.Next.URL }}">Next</a></p>
    {{ else }}
        <p class="none">Next</p>
    {{ end }}

</div>

{{ end }}
