{{ define "main" }}



<!--PAGE-->
<div id="page">
  <p class="bread"><a href="../">HOME</a>　&gt;　ABOUT US</p>

  <div class="titles">
      <div class="symbol inviewSymbolIcon"><img src="/img/symbol.png" alt="Sky Solar Japan"></div>
      <h2><span clas="fo">A</span>BOUT US</h2>
      <div class="line"></div>
      <p class="sub_title">会社情報</p>
  </div><!--titles-->


  <!--CORPORATE-->
  <div id="corporate">

      <!--LINKS-->
      <p class="page_links"><a href="#company">会社概要</a><span class="pc">　｜　</span><a href="#organization">組織図</a><span class="pc">　｜　</span><a href="#group">グループ会社</a><span class="pc">　｜　</span><a href="#access">アクセス</a></p>

      <!--会社概要-->
      <section id="company">
          <h3><span>会社概要</span></h3>

          <div class="companies">
              <div class="photo inviewfadeInLeft"><img class="lazyload" src="/img/loading.png" data-src="/img/company.png" alt="Sky Solar Japan 株式会社"></div>
              <ul>
                  <li><p class="item">会社名</p><p class="data">Sky Solar Japan 株式会社</p></li>
                  <li><p class="item">所在地</p><p class="data">〒105-7108 東京都港区東新橋1-5-2 汐留シティセンター 8F</p></li>
                  <li><p class="item">代表者</p><p class="data">代表取締役　陳 鋭、代表取締役　三原 淳一郎</p></li>
                  <li>
                      <p class="item">連絡先</p>
                      <p class="data">
                          Tel:(03)5275-3470<br>
                          Fax:(03)5275-3476<br>
                          E-mail:
                          <script type="text/javascript">
                              <!--
                              function converter(M){
                              var str="", str_as="";
                              for(var i=0;i<M.length;i++){
                              str_as = M.charCodeAt(i);
                              str += String.fromCharCode(str_as + 1);
                              }
                              return str;
                              }
                              var ad = converter(String.fromCharCode(104,109,101,110,63,114,106,120,114,110)+String.fromCharCode(107,96,113,45,98,110,45,105,111));
                              document.write("<a href=\"mai"+"lto:"+ad+"\">"+ad+"<\/a>");
                              //-->
                          </script>
                          <noscript><!--t-->inf<!--tI-->o@s<!--nAB-->k<!--n-->yso<!--yUD-->l<!--S-->a<!--JYs-->r<!--jN-->.<!--J-->co<!--c-->.j<!--WGB-->p</noscript>
                      </p>
                  </li>
                  <li><p class="item">資本金</p><p class="data">1億円</p></li>
              </ul>
          </div><!--companies-->
      </section><!--company-->



      <!--組織図-->
      <section id="organization">
          <h3><span>組織図</span></h3>

          <div class="graph inviewfadeInUp"><img class="pc lazyload" src="/img/loading.png" data-src="/img/organization_pc.png" alt="組織図"><img class="sp lazyload" src="/img/loading.png" data-src="/img/organization_sp.png" alt="組織図"></div>

      </section><!--organization-->



      <!--グループ会社-->
      <section id="group">
          <h3><span>グループ会社</span></h3>

          <div class="groups">
              <div class="group">
                  <p class="name">Sky Construction株式会社</p>
                  <ul>
                      <li><p class="item">所在地</p><p class="data">〒105-7108 <br>東京都港区東新橋1-5-2 汐留シティセンター 8F</p></li>
                      <li><p class="item">連絡先</p>
                          <p class="data">
                          Tel:(03)6261-4622<br>
                          Fax:(03)6261-4628<br>
                          E-mail:
                          <script type="text/javascript">
                              <!--
                              function converter(M){
                              var str="", str_as="";
                              for(var i=0;i<M.length;i++){
                              str_as = M.charCodeAt(i);
                              str += String.fromCharCode(str_as + 1);
                              }
                              return str;
                              }
                              var ad = converter(String.fromCharCode(104,109,101,110,63,114,106,120,114,110)+String.fromCharCode(107,96,113,45,98,110,45,105,111));
                              document.write("<a href=\"mai"+"lto:"+ad+"\">"+ad+"<\/a>");
                              //-->
                          </script>
                          <noscript><!--t-->inf<!--tI-->o@s<!--nAB-->k<!--n-->yso<!--yUD-->l<!--S-->a<!--JYs-->r<!--jN-->.<!--J-->co<!--c-->.j<!--WGB-->p</noscript>

                          </p></li>
                      <li><p class="item">資本金</p><p class="data">4,000万円</p></li>
                  </ul>
              </div><!--group-->

              <div class="group">
                  <p class="name">新エネルギー・サポート・サービス株式会社</p>
                  <ul>
                      <li><p class="item">所在地</p><p class="data">〒105-7108 <br>東京都港区東新橋1-5-2 汐留シティセンター 8F</p></li>
                      <li><p class="item">連絡先</p>
                      <p class="data">
                          Tel:(03)6261-3384<br>
                          Fax:(03)6261-2510<br>
                          E-mail:
                          <script type="text/javascript">
                              <!--
                              function converter(M){
                              var str="", str_as="";
                              for(var i=0;i<M.length;i++){
                              str_as = M.charCodeAt(i);
                              str += String.fromCharCode(str_as + 1);
                              }
                              return str;
                              }
                              var ad = converter(String.fromCharCode(104,109,101,110,63,114,106,120,114,110)+String.fromCharCode(107,96,113,45,98,110,45,105,111));
                              document.write("<a href=\"mai"+"lto:"+ad+"\">"+ad+"<\/a>");
                              //-->
                          </script>
                          <noscript><!--t-->inf<!--tI-->o@s<!--nAB-->k<!--n-->yso<!--yUD-->l<!--S-->a<!--JYs-->r<!--jN-->.<!--J-->co<!--c-->.j<!--WGB-->p</noscript>
                          </p></li>
                      <li><p class="item">資本金</p><p class="data">1,000万円</p></li>
                  </ul>
              </div><!--group-->
          </div><!--groups-->

      </section><!--group-->


      <!--アクセス-->
      <section id="access">
          <h3><span>アクセス</span></h3>
          <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4669964911336!2d139.75868655080538!3d35.66550153834476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bc2a7955555%3A0xfbc3b43e3ba8af23!2z5rGQ55WZ44K344OG44Kj44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1590486461587!5m2!1sja!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div><!--map-->

      </section><!--access-->


  </div><!--corporate-->

</div><!--page-->

{{ end }}
