{{ define "main" }}


<!--PAGE-->
<div id="page">
	<p class="bread"><a href="../">HOME</a>　&gt;　BUSINESS</p>

	<div class="titles">
			<div class="symbol inviewSymbolIcon"><img src="../img/symbol.png" alt="Sky Solar Japan"></div>
			<h2><span clas="fo">B</span>USINESS</h2>
			<div class="line"></div>
			<p class="sub_title">事業案内</p>
	</div><!--titles-->

	<!--MESSAGE-->
	<div id="business">
			<p class="main_copy"><span class="fo">開</span>発から建設運営維持管理まで<br class="sp">⼀気通貫で対応します</p>

			<div class="process">
					<div class="cts">
							<p class="title"><span class="fo">対</span>応⼒の源は、<br class="sp">今まで⼿がけた豊富な実績</p>
							<p class="copy">Sky Solar Japanの最⼤の優位性は、企画・開発から設計・施⼯、運営、保守管理に⾄るまで、<br class="pc">太陽光発電に必要な全⼯程に⼀気通貫で対応できる点にあります。そして、そのベースとなっているのは、<br class="pc">メガソーラーをはじめとする豊富な経験と知識、技術、そして施⼯実績です。</p>

							<!--START-->
							<div class="start">
									<p class="company">Sky Solar Japan 株式会社・Sky Construction 株式会社</p>

									<div class="details">
											<div class="detail">
													<p class="number">1</p>
													<p class="item">企画・開発</p>
													<div class="contents">
															<div class="illust inviewfadeInUp"><img src="img/process_1.png" alt="企画・開発"></div>
															<p class="explain">Sky Solar グループに蓄積されたデータをもとに発電シミュレーションを⾏い、⽴地条件や予算、助成⾦活⽤などの多様な条件にも対応して太陽光発電所の企画・開発を⾏なっております。</p>
													</div><!--contents-->
											</div><!--detail-->

											<div class="detail">
													<p class="number">2</p>
													<p class="item">部材調達</p>
													<div class="contents">
															<div class="illust inviewfadeInUp"><img src="img/process_2.png" alt="部材調達"></div>
															<p class="explain">部材の調達から、納品まで直接⾏うことによってコストを抑えた、ハイパフォーマンスの太陽電池モジュールをはじめ、信頼性の⾼いシステム部材を取りそろえることができます。</p>
													</div><!--contents-->
											</div><!--detail-->

											<div class="detail">
													<p class="number">3</p>
													<p class="item">設計・施工</p>
													<div class="contents">
															<div class="illust inviewfadeInUp"><img src="img/process_3.png" alt="設計・施工"></div>
															<p class="explain">豊富な施⼯実績で培った経験と技術をもとに、適切な部材を選定し、環境への負荷を最⼩限に抑えつつ、⻑期にわたって安定運⽤できる発電設備と多岐にわたる検討事項を考慮した設計・施⼯計画をご提案します。</p>
													</div><!--contents-->
											</div><!--detail-->

											<div class="detail">
													<p class="number">4</p>
													<p class="item">アセットマネジメント</p>
													<div class="contents">
															<div class="illust inviewfadeInUp"><img src="img/process_4.png" alt="アセットマネジメント"></div>
															<p class="explain">太陽光発電設備における事業計画を策定し、稼働実績のモニタリングや決算報告、出⼊⾦、発電事業の意思決定の取りまとめ等、⻑期安定運⽤が主なミッションです。</p>
													</div><!--contents-->
											</div><!--detail-->
									</div>
							</div><!--start-->

							<!--GOAL-->
							<div class="goal">
									<p class="company">新エネルギー・サポート・<br class="pc">サービス株式会社</p>
									<div class="detail">
											<div class="contents">
													<div class="illust inviewfadeInUp"><img src="img/process_5.png" alt="新エネルギー・サポート・サービス株式会社"></div>
													<div class="explains">
															<p class="item">保守管理（O&amp;M）</p>
															<p class="explain">定期点検およびメンテナンス、⽇常巡視や遠隔モニタリングを⾏い、⻑期間に亘り発電所を良好な状態に維持します。また、緊急時の対応や法定点検も行います。</p>
													</div><!--explains-->
											</div><!--contents-->
									</div><!--detail-->
							</div><!--goal-->

					</div><!--cts-->

					<div class="circle"></div>
					<div class="scrollLine"></div>
			</div><!--process-->


			<!--ENERGY SERVICE-->
			<div class="energy_service">
					<p class="title">新エネルギー・サポート・サービス株式会社</p>
					<p class="copy">太陽光発電事業にとって、発電所の保守管理（O&amp;M）は事業の持続可能性に関わる最重要事項です。<br>O&amp;M期間は20年間にも及び、その間、機器類の保守管理はもちろん、発電所内の除草や除雪を実施し、発電効率や耐久性を維持する必要があります。<br>新エネルギー・サポート・サービスは、365⽇リアルタイムの監視を⾏い、有事の際も迅速に対応します。<br>現在は（⾃社物件以外も含めて）全国70カ所以上のO&amp;Mを担当し、今後も増加する⾒通しです。</p>

					<div class="services">
							<div class="service reverse">
									<div class="photo inviewfadeInRight"><img class="lazyload" src="../img/loading.png" data-src="img/support_1.png" alt="モニタリング"></div>
									<div class="details">
											<p class="item">モニタリング</p>
											<p class="">監視ルームにおいて、発電状況のシステムモニタリングを実施。また、遠隔カメラによる周辺監視を⾏い、発電所の異常をいち早く発⾒します。</p>
									</div><!--details-->
							</div><!--service-->

							<div class="service">
									<div class="photo inviewfadeInLeft"><img class="lazyload" src="../img/loading.png" data-src="img/support_2.png" alt="定期設備点検・緊急時対応"></div>
									<div class="details">
											<p class="item">定期設備点検・緊急時対応</p>
											<p class="">技術者による定期点検はもちろん、発電状況異常時には緊急対応します。<br>電気に関する豊富な専⾨知識・技能に基づく発電所管理を⾏います。</p>
									</div><!--details-->
							</div><!--service-->

							<div class="service">
									<div class="details">
											<p class="item">現場運営管理</p>
											<p class="">発電所の除草・除雪などを実施し、現場管理に務めます。また、⾏政官庁への報告や申請など事業運営に必要な事務管理を⾏います。</p>
									</div><!--details-->
							</div><!--service-->
					</div><!--services-->


			</div><!--energy_service-->


	</div><!--business-->

</div><!--page-->



<!--BACK TO TOP-->
<div class="BackToTop"><a href="#top"><img src="../img/BackToTop.png" alt="TOPへ戻る"></a></div>


{{ end }}
