{{ define "main" }}


<!--PAGE-->
<div id="page">
	<p class="bread"><a href="../">HOME</a>　&gt;　ESG</p>

	<div class="titles">
			<div class="symbol inviewSymbolIcon"><img src="../img/symbol.png" alt="Sky Solar Japan"></div>
			<h2><span clas="fo">E</span>SG</h2>
			<div class="line"></div>
			<p class="sub_title">環境、社会、ガバナンス</p>
	</div><!--titles-->

	<!--ESG-->
	<div id="esg">

			<!--ENVIRONMENT-->
			<div class="environment">
					<div class="cts">
							<p class="main_copy"><span class="fo">環</span>境・気候変動への貢献</p>
							<p class="copy">Sky Solar Japanが現在保有する<br class="sp">再生エネルギー発電施設が<br class="sp">1年間稼働することによるポジティブインパクト</p>

							<div class="ecos">
									<div class="eco">
											<div class="illust inviewfadeInUp"><img src="img/environment_1.png" alt="CO2削減量「杉の木」"></div>
											<p class="item">CO<sub>2</sub>削減量「杉の木」</p>
											<p class="results" id="num1">
													<span class="yaku">約</span>
													<span class="count count1">0</span>
													<span class="ex">万本</span>
											</p><!--results-->
									</div><!--eco-->

									<div class="eco">
											<div class="illust inviewfadeInUp"><img src="img/environment_2.png" alt="CO2削減量"></div>
											<p class="item">CO<sub>2</sub>削減量</p>
											<p class="results" id="num2">
													<span class="yaku">約</span>
													<span class="count count2">0</span>
													<span class="ex">トン/年間</span>
											</p><!--results-->
									</div><!--eco-->

									<div class="eco">
											<div class="illust inviewfadeInUp"><img src="img/environment_3.png" alt="1年間の世帯消費電力"></div>
											<p class="item">1年間の世帯消費電力</p>
											<p class="results" id="num3">
													<span class="yaku">約</span>
													<span class="count count3">0</span>
													<span class="ex">世帯分</span>
											</p><!--results-->
									</div><!--eco-->

									<div class="eco">
											<div class="illust inviewfadeInUp"><img src="img/environment_4.png" alt="石油削減量"></div>
											<p class="item">石油削減量</p>
											<div class="results" id="num4">
													<p>
													<span class="yaku">約</span>
													<span class="count count4">0</span>
													</p>
													<p class="ex">リットル</p>
											</div><!--results-->
									</div><!--eco-->
							</div><!--ecos-->

							<p class="cap"><span>※</span><span>数値は太陽光発電協会、環境省に基づき算出、2020年6月末時点</span></p>

					</div><!--cts-->
			</div><!--environment-->


			<!--SOCIETY-->
			<div class="society">
					<div class="photo inviewfadeInLeft"><img class="lazyload" src="../img/loading.png" data-src="img/society.png" alt="脱炭素社会の実現へ"></div>
					<div class="details">
							<p class="main_copy"><span class="fo">脱</span>炭素社会の実現へ</p>
							<p class="detail">環境保全への世界的な意識の高まりは、さまざまな取り組みにつながり、その成果は徐々に現れ始めています。<br>企業が「自らの事業で使用する電力を100%再生可能エネルギーで賄う」とするRE100にも、日本を含め世界中の企業が参加しています。<br>また、投資の世界でも、環境・社会・企業統治のESGを重視する企業を高く評価する考え方が広まっています。<br>こうした世界的な傾向の中、太陽光発電をはじめとする再生可能エネルギー事業は、CO<sub>2</sub>排出量を削減し地球温暖化を止める脱炭素社会の実現において、大きな期待を集めています。<br>CO<sub>2</sub>排出量削減ルールは、先進国だけでなく、あらゆる国々に適用されることから、今後も再生可能エネルギーの必要性はますます認識されることでしょう。</p>
					</div><!--details-->
			</div><!--society-->


			<!--GOVERNANCE-->
			<div class="governance">
					<div class="photo inviewfadeInRight"><img class="lazyload" src="../img/loading.png" data-src="img/governance.png" alt="地域活性化への貢献"></div>
					<div class="details">
							<p class="main_copy"><span class="fo">地</span>域活性化への貢献</p>
							<p class="detail">再生可能エネルギー事業の地域への貢献としては、従来は遊休地活用や地域雇用拡大などが挙げられました。<br>ここに新たに「地域活用電源」としての可能性がクローズアップされています。<br>地域活用電源とは、大規模な自然災害が起こった際、いち早くその地域で必要な電力を供給するための電源のことです。<br>太陽光発電は自立運転が可能で、火力発電や原子力発電の停電時にも有効活用することができます。<br>Sky Solar Japanは今後も、地元に根ざした発電事業を継続していきます。</p>
					</div><!--details-->
			</div><!--governance-->

	</div><!--esg-->

</div><!--page-->

{{ end }}
