{{ define "main" }}


<!--PAGE-->
<div id="page">
	<p class="bread"><a href="../">HOME</a>　&gt;　MESSAGE</p>

	<div class="titles">
			<div class="symbol inviewSymbolIcon"><img src="../img/symbol.png" alt="Sky Solar Japan"></div>
			<h2><span clas="fo">M</span>ASSAGE</h2>
			<div class="line"></div>
			<p class="sub_title">代表メッセージ</p>
	</div><!--titles-->

	<!--MESSAGE-->
	<div id="message">
			<p class="main_copy"><span class="fo">ク</span>リーンエネルギーが<br class="sp">未来をつくる</p>

			<div class="messages">
					<div class="photos">
							<div class="photo inviewfadeInLeft"><img class="lazyload" src="../img/loading.png" data-src="img/photo.png" alt="代表メッセージ"></div>
							<p class="president">代表取締役　陳 鋭、代表取締役　三原 淳一郎</p>
					</div><!--photos-->

					<div class="message">
							<div class="message_area">
									<p>Sky Solar Japanは太陽光発電事業を中核に、再生可能エネルギーによる独立発電事業者として、全国各地に大規模太陽光発電所を開発・運営しております。おかげさまで、国内独立発電事業者の中では、トップクラスまでに成長できました。</p>
									<p>この数年、再生可能エネルギー分野は、有限な資源である化石燃料の使用量削減と、CO<sub>2</sub>の排出量削減による地球温暖化防止という2つの大きな目的から、世界的な規模で取り組まれてきました。既に再生可能エネルギーは、かつて記録されたことのないような気象大変動や、資源の争奪による環境破壊を防ぐ手だてとして大きな役割を担うまでになりました。今後CO<sub>2</sub>排出量の削減が先進国だけでなく、発展途上国にも一定の基準が課されることからも、再生可能エネルギーの必要性が再認識されています。</p>
									<p>Sky Solar Japanは、日本において、2009年から再生可能エネルギーの事業化に真剣に取り組んできました。地域にとって有益且つ投資家に対しても低リスクな事業機会を提供し、開発から建設、運用まで行えるシステムを独自に構築してきました。弊社の発電事業は現在では、地域にとって地産地消のエネルギーとして、また地域活性化に貢献するものとして評価をいただいております。弊社の企業理念として「融合」というキーワードがありますが、それは様々な意味を含む言葉といえます。「自然と先端技術」、「地方と都市」、「伝統と未来」の融合など、経済面からも全く新しい事業モデルとしての可能性を示しています。</p>
									<p>Sky Solar Japanは社会にとって真に求められるもの、人々の幸福や未来に貢献できる事業を、これからも推進してまいります。</p>
							</div><!--message_area-->
					</div><!--message-->
			</div><!--messages-->

	</div><!--message-->

</div><!--page-->



<!--BACK TO TOP-->
<div class="BackToTop"><a href="#top"><img src="../img/BackToTop.png" alt="TOPへ戻る"></a></div>


{{ end }}
