{{ define "main" }}



<!--PAGE-->
<div id="page">
	<p class="bread"><a href="../">HOME</a>　&gt;　NEWS</p>

	<div class="titles">
			<div class="symbol inviewSymbolIcon"><img src="../img/symbol.png" alt="Sky Solar Japan"></div>
			<h2><span clas="fo">N</span>EWS</h2>
			<div class="line"></div>
			<p class="sub_title">ニュース</p>
	</div><!--titles-->


	<!--NEWS-->
	<div id="news">

			<div class="topics">

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2021.3.2</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="news_20210302.html">【弊社を装った不審電話勧誘にご注意ください】</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2021.1.28</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="news_20210128.html">新設工事進捗について【岩手県軽米尊坊】（更新）</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2021.1.8</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="news_20210108.html">新設工事進捗について【岩手県軽米尊坊】</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.12.25</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="news_20201225.html">SSJプロジェクトボンド　格付け取得について</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.11.5</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="img/321753055.pdf" target="_blank">SSJ軽米高家太陽光発電所、グリーンローン契約締結について</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.10.1</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="news_20201001.html">弊社太陽光発電所ポートフォリオを裏付とした資金調達について</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.9.11</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title"><a href="news_20200911.html">地権者説明会を開催いたしました。【岩手県軽米高家】</a></p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.6.1</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title">ホームページをリニューアルいたしました。</p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.5.29</p>
											<p class="cate renkei">連携開始</p>
									</div><!--dates-->
									<p class="title">岩手県奥州市岩谷堂太陽光発電所が連系しました。</p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.5.25</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title">事務所が東京都港区汐留に移転しました。</p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->

					<div class="info">
							<div class="topic">
									<div class="dates">
											<p class="date">2020.5.15</p>
											<p class="cate oshirase">お知らせ</p>
									</div><!--dates-->
									<p class="title">関係各位へのマスク配布を決定。</p>
							</div><!--topic-->
							<div class="arrow"></div>
					</div><!--info-->
	</div><!--topics-->

	<div class="pagenation">
			<p class="none">BACK</p>
			<p class="now">1</p>
			<p><a href="newslist_2.html">2</a></p>
			<p><a href="newslist_2.html">NEXT</a></p>
	</div><!--pagenation-->

	</div><!--news-->

</div><!--page-->



<!--BACK TO TOP-->
<div class="BackToTop"><a href="#top"><img src="../img/BackToTop.png" alt="TOPへ戻る"></a></div>


{{ end }}
