{{ define "main" }}

<!--SWIPER-->
<div class="swiper-container">

  <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="lazyload" src="/img/loading.png" data-src="/img/mv1.jpg" alt=""></div>
      <div class="swiper-slide"><img class="lazyload" src="/img/loading.png" data-src="/img/mv2.jpg" alt=""></div>
      <div class="swiper-slide"><img class="lazyload" src="/img/loading.png" data-src="/img/mv3.jpg" alt=""></div>
  </div><!--swiper-wrapper-->

  <div class="copies">
      <div class="icon"><img src="/img/icon_sun.png" alt=""></div>
      <h2>CLEAN ENERGY<br>CREATES THE FUTURE</h2>
      <div class="line"></div>
      <h1><span class="fo">ク</span>リーンエネルギーが未来をつくる</h1>
      <a href="#intro"><div class="btn btn_o"><p>詳しく見る</p><div class="arrow"></div></div></a>
  </div><!--copies-->
</div><!--swiper-container-->



<!--INTRO-->
<div id="intro">
  <div class="titles">
      <div class="symbol inviewSymbolIcon"><img src="/img/symbol.png" alt="Sky Solar Japan"></div>
      <h2><span class="fo">ク</span>リーンエネルギーが<br class="sp">未来をつくる</h2>
  </div><!--titles-->

  <div class="services">

      <div class="service">
          <p class="number fon">1</p>
          <div class="number_line"></div>
          <p class="title"><span class="fo">太</span>陽光発電の成長とともに<br>再生可能エネルギーの<br class="pc">次なるステップへ</p>
          <div class="photo inviewfadeInUp"><img class="lazyload" src="/img/loading.png" data-src="/img/intro_1.png" alt="再生可能エネルギーの再生可能エネルギーの次なるステップ"></div>
          <p class="detail">世界に数多くあるRE100加盟企業のように、⾃らの事業活動を環境保全につなげるべく、本格的に取り組んでいる企業は年々増加しています。Sky Solarは、脱炭素社会へ移⾏する中、⾼まるクリーンエネルギーへのニーズに応えるべく、発電所の増設等、持続可能な事業に取り組んできました。さらに、太陽光発電事業で得た有形無形の資産を活かし、<span class="b">「再⽣可能エネルギーの次なるステップ」</span>へ進んでまいります。</p>
          <a href="message/" class="btn_link"><div class="btn"><p>詳しく見る</p><div class="arrow"></div></div></a>
      </div><!--service-->

      <div class="service">
          <p class="number fon">2</p>
          <div class="number_line"></div>
          <p class="title"><span class="fo">日</span>本国内トップクラスの<br>総発電容量、発電所数を誇る<br class="pc">IPP事業者</p>
          <div class="photo inviewfadeInUp"><img class="lazyload" src="/img/loading.png" data-src="/img/intro_2.png" alt="日本国内トップクラスの総発電容量、発電所数"></div>
          <p class="detail">Sky Solarは、ドイツで⽣まれ、⽇本で発展してきた再⽣可能エネルギー開発企業です。そして、Sky Solar Japanは、⼤規模太陽光発電の黎明期である2009年から、⽇本のIPP（独⽴系発電事業者）として再⽣可能エネルギー事業に注⼒し続けて、10年以上の年⽉を太陽光発電の成⻑とともに過ごしてきました。現在は、<span class="b">⽇本のIPPとしてトップクラスの総発電容量</span>を誇り、⽇本全国各地に太陽光発電所を有しています。</p>
          <a href="#case" class="btn_link"><div class="btn"><p>詳しく見る</p><div class="arrow"></div></div></a>
      </div><!--service-->

      <div class="service">
          <p class="number fon">3</p>
          <div class="number_line"></div>
          <p class="title"><span class="fo">S</span>ky Solar Japanだから<br class="pc">実現できる<br class="sp">次世代の<br class="pc">エネルギーソリューション</p>
          <div class="photo inviewfadeInUp"><img class="lazyload" src="/img/loading.png" data-src="/img/intro_3.png" alt="次世代のエネルギーソリューション"></div>
          <p class="detail">Sky Solar Japanが目指すのは、より環境に優しく低価格なエネルギーを、より安定的に、より多くの人々に安全に提供することです。太陽光発電の成長とともに常に追求し続けてきた知識・技術・経験を、最新の技術と組み合わせることで、<span class="b">脱炭素社会の礎となる次世代のエネルギーソリューション</span>の実現を目指します。</p>
          <a href="#energy" class="btn_link"><div class="btn"><p>詳しく見る</p><div class="arrow"></div></div></a>
      </div><!--service-->

  </div><!--services-->

  <div class="circle"></div>
  <div class="scrollLine"></div>
</div><!--intro-->



<!--SELECT-->
<div id="select">

  <div class="select">
      <a href="business/">
          <div class="photo inviewfadeInUp"><img class="lazyload" src="/img/loading.png" data-src="/img/select_1.png" alt="ビジネス"></div>
          <p class="item">ビジネス</p>
      </a>
  </div><!--select-->

  <div class="select">
      <a href="project/">
          <div class="photo inviewfadeInDown"><img class="lazyload" src="/img/loading.png" data-src="/img/select_2.png" alt="プロジェクト"></div>
          <p class="item">プロジェクト</p>
      </a>
  </div><!--select-->

  <div class="select">
      <a href="esg/">
          <div class="photo inviewfadeInUp"><img class="lazyload" src="/img/loading.png" data-src="/img/select_3.png" alt="ESG"></div>
          <p class="item">ESG</p>
      </a>
  </div><!--select-->

  <div class="select">
      <a href="about/">
          <div class="photo inviewfadeInDown"><img class="lazyload" src="/img/loading.png" data-src="/img/select_4.png" alt="会社情報"></div>
          <p class="item">会社情報</p>
      </a>
  </div><!--select-->

</div><!--select-->



<!--NEWS-->
<div id="top_news">
  <div class="titles">
      <h2><span>NEWS</span></h2>
      <p class="kana">最新のお知らせ</p>
  </div><!--titles-->

  <div class="topics">


    {{ range (.Paginator 10).Pages }}

    <div class="info">
      <div class="topic">
          <div class="dates">
              <p class="date">{{ .Date.Format "2006.1.2" }}</p>
              {{ partial "category" . }}
          </div><!--dates-->

          <p class="title">
            {{ if .Content }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ else }}
              {{ .Title }}
            {{ end }}
          </p>
      </div><!--topic-->
      <div class="arrow"></div>
    </div>

    {{ end }}

  </div><!--topics-->

  <div class="circle"></div>
  <div class="scrollLine"></div>
</div><!--top_news-->



<!--CASE-->
<div id="case">
  <div class="titles">
      <div class="symbol inviewSymbolIcon"><img src="/img/symbol.png" alt="Sky Solar Japan"></div>
      <h2><span class="fo">⽇</span>本トップクラスの<br class="sp">独⽴系発電事業者（IPP）として<br>豊富な実績があります</h2>
  </div><!--titles-->

  <div class="cases">

      <!--CASE1-->
      <div class="case">
          <p class="item">稼働発電所数・総出力量</p>
          <div class="graphics">
              <div class="graph"><img class="lazyload" src="/img/loading.png" data-src="/img/case_1.png" alt="稼働中発電所・稼働発電所"></div>
              <p class="place" id="num1a"><span class="count count1a">0</span><span class="unit">ヶ所</span></p>
              <p class="number" id="num1b"><span class="unit">約</span><span class="count count1b">0</span><span class="kw">kw</span></p>
          </div><!--graphics-->
          <p class="explain">Sky Solar Japanは、日本でFIT（固定価格買取制度）が導入されて以来、全国に数多くの発電所開発の実績を残してきました。現在では、日本のIPPの先駆者としてトップクラスの総発電容量に達しています。</p>
      </div><!--case-->

      <!--CASE2-->
      <div class="case">
          <p class="item">開発中発電所数・総出力量</p>
          <div class="graphics">
              <div class="graph"><img class="lazyload" src="/img/loading.png" data-src="/img/case_2.png" alt="稼働中発電所・稼働発電所"></div>
              <p class="place" id="num2a"><span class="count count2a">0</span><span class="unit">ヶ所</span></p>
              <p class="number" id="num2b"><span class="unit">約</span><span class="count count2b">0</span><span class="kw">kw</span></p>
          </div><!--graphics-->
          <p class="explain">より多くのエネルギーを提供するための歩みを続けています。特別高圧案件を中心にさらなる企画・開発を推進し、事業成長を継続してまいります。</p>
      </div><!--case-->

      <!--CASE3-->
      <div class="case">
          <p class="item">年間発電量・CO<sub>2</sub>削減量</p>
          <div class="datas">
              <div class="data">
                  <p class="sub_item">年間発電量</p>
                  <p class="number" id="num3a"><span class="unit">約</span><span class="count count3a">0</span><span class="kw">kW/h</span></p>
              </div><!--data-->
              <div class="data">
                  <p class="sub_item">CO<sub>2</sub>削減量</p>
                  <p class="number" id="num3b"><span class="unit">約</span><span class="count count3b">0</span><span class="unit">トン/年間</span></p>
              </div><!--data-->
          </div><!--datas-->
      </div><!--case-->

      <!--CASE4-->
      <div class="case">
          <p class="item">FIT分布図</p>
          <div class="graphics">
              <div class="graph"><img class="lazyload" src="/img/loading.png" data-src="/img/case_4.png" alt="FIT分布図"></div>
          </div><!--graphics-->
          <p class="explain">「固定価格買取制度（FIT = Feed-In Tariffs）」によって、電力1kWhあたりの買取価格が定められています。Sky Solar Japanでは高FIT案件を数多く自社保有し安定した事業基盤を有しています。</p>
      </div><!--case-->

  </div><!--cases-->

  <p class="attention"><span>※</span><span>数値は太陽光発電協会、環境省に基づき算出、2020年6月末時点</span></p>

  <div class="circle"></div>
  <div class="scrollLine"></div>
</div><!--case-->



<!--ENERGY-->
<div id="energy">
  <div class="titles">
      <div class="symbol inviewSymbolIcon"><img src="/img/symbol.png" alt="Sky Solar Japan"></div>
      <h2><span class="fo">再</span>生可能エネルギーの<br class="sp">未来を見据えた<br>エネルギーソリューション</h2>
      <p class="copy">これまで開発してきた太陽光発電所と、培ってきた知識・技術・経験、これらを最新テクノロジーと組み合わせることで、より環境に優しく低価格なエネルギーを、より安定的に、より多くの人々に安全に提供するための、次世代のエネルギーソリューション実現を目指します。</p>
  </div><!--titles-->

  <div class="solutions">

      <div class="solution">
          <div class="photo inviewfadeInLeft"><img class="lazyload" src="/img/loading.png" data-src="/img/energy_1.png" alt="発電ネットワーク"></div>
          <p class="item">VPPという次世代の<br class="sp">発電ネットワーク</p>
          <p class="detail">VPP（Virtual Power Plant=仮想発電所）とは、地域内にばらばらに存在するエネルギーリソースを「一つの発電所のように」制御することで、再生可能エネルギーを含めた電力の安定供給を実現する新たな発電の仕組みです。Sky Solar Japan自社の太陽光発電所に、家庭・ビル・工場・自治体などがもつ小規模分散型発電設備や蓄電設備を加えることで、地域内の独自の電力供給網を構築できます。通信技術によってリアルタイムで需給状況を把握、分析し、安定的・高効率に、クリーンなエネルギーをバランス良く供給することを実現していきたいと考えております。</p>
      </div><!--solution-->

      <div class="solution">
          <div class="photo inviewfadeInRight"><img class="lazyload" src="/img/loading.png" data-src="/img/energy_2.png" alt="再生可能エネルギー"></div>
          <p class="item">地域に根ざした<br class="sp">再生可能エネルギー</p>
          <p class="detail">日本全国各地で太陽光発電所を開発・所有しているSky Solar Japanだからこそ、地域に根ざした新しいエネルギーソリューションの形を提案することができます。VPPを「地域活用電源」として、生産したエネルギーの地産地消はもちろん、余剰電力を都市部など他の地域に供給することも可能になります。地域のエネルギー生産者として、地域活性化に貢献し続けます。</p>
      </div><!--solution-->

  </div><!--solutions-->

</div><!--energy-->


{{ end }}
